.root {
  -fx-background-color: #ddd;
}

.textfield {
  -fx-width: 850px;
}

.table-list {
  -fx-background-color: white;
  -fx-border-color: #DDD;
}
.table-list:hover{
  -fx-background-color: #EEE;
  -fx-border-color: #CCC;
}
