.root {
  -fx-background-color: #222;
}

.label {
  -fx-text-fill: white;
  -fx-font: 15px Tahoma;
}

.button {
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
  -fx-background-color: #EEE;
}
.button:hover{
  -fx-background-color: #BBB;
}

.radio-button {
  -fx-text-fill: white;
}

.textfield {
  -fx-width: 850px;
}

