.combo-box {
  -fx-background-color: #333;
  -fx-text-fill: white;
}
.combo-box .cell {
  -fx-text-fill: white;
}
.combo-box .view {
  -fx-background-color: white, black;
  -fx-background-insets: 0, 1;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}
.combo-box-popup .list-view {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
}
.combo-box-popup .list-view .list-cell {
  -fx-background-color: white;
  -fx-text-fill: #222;
  -fx-font-family: Oxygen Light;
}
.combo-box-popup .list-view .list-cell:hover {
  -fx-background-color: #DDD;
}


.table-view {
  -fx-background-color: #111;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
  -fx-table-cell-border-color: #555;
}
.table-view .column-header, .table-view .filler {
  -fx-background-color: #EEE;
  -fx-border-color: #777;
  -fx-border-width: 0 1 0 0;
  -fx-border-insets: 0;
}

.table-view .cell {
  -fx-text-fill: white;
}
.table-row-cell{
  -fx-background-color: -fx-table-cell-border-color, #222;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}
.table-row-cell:odd{
  -fx-background-color: -fx-table-cell-border-color, #111;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0.0em;
}
.table-row-cell:empty {
  -fx-background-color: #111;
  -fx-table-cell-border-color: #111;
}
.table-view .column-header-background{
  -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}
.table-row-cell:selected {
  -fx-background-color: #555;
  -fx-background-insets: 0;
  -fx-background-radius: 1;
}

.list-view {
  -fx-background-color: #EEE;
}
.list-view .list-cell {
  -fx-background-color: #EEE;
}
.list-view .list-cell:odd {
  -fx-background-color: #DDD;
}
.list-view .list-cell:selected {
  -fx-background-color: #888;
  -fx-text-fill: #DDD;
  -fx-background-insets: 0;
  -fx-background-radius: 1;
}

.button {
  -fx-background-color: transparent;
  -fx-opacity: 0.5;
}

.button:hover {
  -fx-opacity: 1;
}

.btn-current {
  -fx-opacity: 1
}

/* query area */
.text-area {
  -fx-text-fill: #2DFF57;
}
.text-area .content {
  -fx-background-color: black;
}
